<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>--company-id</key>
	<string>com.post-quantum</string>
	<key>--ignore</key>
	<array>
		<string>Pods</string>
		<string>Libraries</string>
		<string>Frameworks</string>
		<string>Tests</string>
		<string>SDAVAssetExportSession</string>
		<string>*.m</string>
	</array>
	<key>--logformat</key>
	<integer>1</integer>
	<key>--print-settings</key>
	<true/>
	<key>--project-company</key>
	<string>Post-Quantum</string>
	<key>--project-name</key>
	<string>PQCheckSDK for iOS</string>
	<key>--repeat-first-par</key>
	<false/>
	<key>--output</key>
	<string>../Docs</string>
	<key>--verbose</key>
	<string>3</string>
	<key>--create-docset</key>
	<false/>
	<key>--index-desc</key>
	<string>README.md</string>
</dict>
</plist>
